<h2>Usage</h2>
<p>Simply run the following command after your build task by adding a && and pasting the command written below.</p>

<div>
  <mat-tab-group>
    <mat-tab label="Windows">
      <app-code-example>
        powershell -Command "(new-object net.webclient).DownloadString('https://example.com/notify/rZ4pPgYxegCarB3eXbg')"
      </app-code-example>
    </mat-tab>
    <mat-tab label="Linux & Mac OS">
      <app-code-example>
        wget https://example.com/notify/rZ4pPgYxegCarB3eXbg
      </app-code-example>
    </mat-tab>
  </mat-tab-group>
</div>