<app-logo></app-logo>


<p class="mt-3 p-2">
    Are you tired of waiting for your 🐳 container to finish building?  Did you run out of coffee but want to know when your program finishes compiling?
    <br><br>
    We offer the solution for you! Send a simple http request and get notified on your android device when the build task is finished. Log in and try today!
</p>

<div class="d-flex justify-content-center">

    <button mat-raised-button color="primary">
        Sign In With Github
    </button>
</div>